<main>
  <div style="width: 100%; margin: 10px;">
    <h3>Dashboard</h3>
    <h5 id="hello-user">Bienvenue t{{getCookie('username')}}, sur votre Dashboard :</h5>
  </div>

  <div class="card draggable" id="card-weather">
    <div class="card-header">
      <h6 style="color: #fff;">Météo</h6>
      <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>
    <div class="card-body unDraggable">
      <app-widget-meteo></app-widget-meteo>
    </div>
  </div>

  <div class="card draggable" id="card-drawing">
    <div class="card-header">
      <h6 style="color: #000;">Dessin</h6>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
      <app-whiteboard></app-whiteboard>
  </div>

  <div class="card draggable" id="card-calendar">
    <div class="card-header">
      <h6 style="color: #fff;">Calendrier</h6>
      <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>
    <div class="card-body unDraggable">
      <h3 id="dateCalendar">{{getDay()}}<br>{{getMonth()}}</h3>
      <div id="rdvCalendar">
        <h6>Prochain RDV:</h6>
        <p>Aucun rendez-vous prochai...</p>
      </div>
    </div>
  </div>

  <div class="card draggable" id="card-memo">
    <div class="card-header">
      <h6 style="color: #fff;">Memo</h6>
      <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>
    <div class="card-body unDraggable">
      <textarea onchange=" 
      comaI = document.getElementById('hello-user').textContent.indexOf(',');
      
      $.ajax({
        url: 'http://192.168.137.1/memos',
        type: 'POST',
        dataType: 'JSON',
        data: {
          username: document.getElementById('hello-user').textContent.substring(10, comaI),
          text: document.getElementById('textAera-memo').value
        }
      });"
  class="form-control" aria-label="With textarea" id="textAera-memo"></textarea>
    </div>
  </div>

  <div class="iframe-spotify draggable">
    <div class="card-header" style="height: 20px;">
      <h6 style="color: #fff;">Spotify</h6>
      <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>
    <iframe src="https://open.spotify.com/embed/album/62f3yVpi23o1YepGRLsSQI" width="400px" height="300px"
      style="margin-top: 10px;"></iframe>
  </div>
</main>
<app-utilisateurs id="admin-com"></app-utilisateurs>
<app-calendrier id="calendar-com"></app-calendrier>



