main {
  position: fixed;
  top: 85px; bottom: 20px;
  left: 290px; right: 10px;
  justify-content: space-evenly;
  Z-index : 1;
}

/* Card */

.draggable {
  position: fixed !important;
  top: 170px;
  left: 290px;
}

.card {
  margin: 10px 10px 20px 10px;
  height: fit-content;
  border: none;
  border-radius: 20px;
  user-select: none;
}

.card-header {
  border-radius: 20px 20px 0 0;
}

.card-header>h6 {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translate(-50%);
}

.card-header>.btn-close {
  float: right;
}

/* Calendar */

#calendar-com {
  visibility: hidden;
  position: fixed;
  top: 85px; bottom: 30px;
  left: 280px;
  right: 20px;
  box-shadow: 1px 1px 5px rgb(230, 230, 230),
  -1px -1px 5px rgb(230, 230, 230);
}

/* admin */

#admin-com {
  visibility: hidden;
  position: fixed;
  top: 85px; bottom: 30px;
  left: 280px;
  right: 20px;
  box-shadow: 1px 1px 5px rgb(230, 230, 230),
  -1px -1px 5px rgb(230, 230, 230);
}

/* Weather */

#card-weather {
  width: 400px;
  height: 150px;
  background-image: url("../assets/img/sky.svg");
  background-size: cover;
  color: #fff;
}
/* Drawwing */

#card-drawing {
  width: 400px;
  height: 300px;
  background-color: #eefc51;
  background-size: cover;
  color: #fff;
}
/* Mémo */

#card-memo {
  width: 400px;
  height: 300px;
  background-color: #2fb9f5;
  background-size: cover;
  color: #fff;
}
/* Calendar */

#card-calendar {
  width: 400px;
  height: 150px;
}

#card-calendar > .card-header {
  background-color: red;
}

#dateCalendar {
  float: left;
  width: fit-content;
  text-align: center;
  padding-right: 20px;
  border-right: solid;
  border-width: 1px;
  border-color: black;
}

#rdvCalendar {
  padding-left: 20px;
  padding-top: 8px;
  float: left;
  width: fit-content;
}

/* Spotify */

.iframe-spotify
{
  margin: 10px 10px 20px 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	position: relative;
	overflow: hidden;
	width: 400px;
  height: 400px;
  background-color: black;
}

.iframe-spotify iframe
{
	width: 100%;
  height: 100%;
}