@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

:root {
  --blue: #495dcc;
  --red: #fb2974;
  --text-gray: #878e9b;
}

html {
  background-color: #fbfcff;
}

p {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

h4 {
  font-family: 'Quicksand', sans-serif;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: var(--text-gray);
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

/* Body */

#body-dash {
  visibility: hidden;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(230, 230, 230);
  font-family: 'Quicksand', sans-serif;
}

header>#logo-nav>a>p {
  color: black;
  font-weight: bold;
}

#logo-nav {
  position: fixed;
  top: 15px;
  left: 30px;
}

#logo-nav>a>img {
  float: left;
  margin-right: 15px;
}


header>#search {
  position: fixed;
  width: 500px;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

header>#search>.input-group>.btn {
  border: none;
}

header>#search>.input-group>.btn:hover {
  background-color: rgba(0, 0, 0, 0);
}

header>#search>.input-group>input {
  border: none;
  font-weight: 500;
  border-radius: 0;
  transition: 100ms;
}

header>#search>.input-group>input:hover {
  border-bottom-style: solid;
  border-bottom-color: #495dcc;
}

header>#search>.input-group>input:focus {
  border-bottom-style: solid;
  border-bottom-color: #495dcc;
  outline: none;
  box-shadow: none;
}

header>.dropdown {
  position: fixed;
  top: 5px;
  right: 20px ;
  z-index: 1000;
}


/* Nav */

nav {
  position: fixed;
  padding-top: 10px;
  top: 90px;
  bottom: 30px;
  left: 20px;
  width: 250px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(230, 230, 230),
    -1px -1px 5px rgb(230, 230, 230);
}

button>img {
  float: left;
  margin-top: 1.5px;
  padding-right: 10px;
}

nav>.btn-primary {
  padding-left: 30px;
  margin-top: 15px;
  width: 100%;
  color: var(--text-gray);
  text-align: left !important;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-color: var(--blue);
  border-radius: 0;
  transition: 200ms;
}

nav>.btn-primary:hover {
  color: var(--blue);
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  border-right-style: solid;
}

nav>.btn-primary:focus, nav>.btn-primary:active {
  color: var(--blue);
  background-color: rgba(0, 0, 0, 0) !important;
  outline: none;
  box-shadow: none;
}

nav>.btn-primary:hover>img {
  filter: grayscale(100%) sepia(100%) hue-rotate(200deg) brightness(0.9) saturate(4);
}

nav>.acti {
  color: var(--blue);
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  border-right-style: solid;
}

nav>.acti>img {
  filter: grayscale(100%) sepia(100%) hue-rotate(200deg) brightness(0.9) saturate(4);
}

nav>#logout {
  position: fixed;
  bottom: 50px;
  left: 20px;
  width: 250px;
  color: var(--red);
  border-color: var(--red);
  border-radius: 0;
  transition: 200ms;
}

nav>#logout:hover {
  border-right-style: solid;
  border-right-width: 3px;
  color: var(--red);
}

nav>#logout:hover>img {
  filter: none;
}

.link-nav:hover>img {
  filter: none !important;
}

#title-tools {
  font-weight: 700;
  margin-top: 10px;
  margin-left: 26px;
}

#title-shortcuts {
  font-weight: 700;
  margin-top: 30px;
  margin-left: 26px;
}