html,
body {
  height: 100%;
}
.form-signin {
  width: 100%;
  max-width: 60vmin;
  padding: 3vmin;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 2vmin;
  font-size: 3vmin;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -0.01%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0.1%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
  #entete{
     position: absolute; 
    text-align: center;
    margin-top: -9%;
    margin-left: 47%;
  }

  #basdepage{
    text-align: center;
  }
  #page{
    width: 100%;
    height: 35%;
    margin-top: 15%;
  }
  #left{
    position: relative;
    margin-right: 50%;
    width: 50%;
    height: 100%;
  }
  #right {
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    margin-top: -17%;
    border-left: solid 2px;
}
#body-dash{
  background-color: white;
  position: absolute;
  margin-top: 0%;
  margin-bottom: 10%;
  width: 100%;
  height: 0%;
}