<div class="card-body unDraggable" no-pointer-event>
    <ng-whiteboard style="margin-left:-10px; position: relative; top: -16px; z-index: 2; height: 250px; width: 390px;"></ng-whiteboard>
    <button type="button" (click)="eraseWhiteboard()"></button>
</div>