<div  class="card" style="width: 100%;  height: 100%;"  id="InnerDiv" >
    <h4 class="card-header text-center font-weight-bold text-uppercase py-4" >ESPACE ADMIN  <img   style=" height: 50px; width: 50px; "src="assets/icons/admin.svg"></h4>
    <div class="card-body"  >
      <div id="table" class="table-editable" >
        
        <table class="table table-bordered table-responsive-md table-striped text-center" >
          <tr >
            <th style="background-color:black; color:whitesmoke" class="text-center">username</th>
            <th style="background-color:black; color:whitesmoke"  class="text-center">Name</th>
            <th style="background-color:black; color:whitesmoke"  class="text-center">FirstName</th>
            <th style="background-color:black; color:whitesmoke" class="text-center">Password</th>  
            <!-- <input id="edit" type="submit" name="edit" class="btn btn-primary" type="button" (click)="add()" value="New User" /> -->
            <button type="button" style=" height: 50px; width: 150px;"class="btn btn-primary" (click)="add()"><img   style ="margin-left: 40%;"src="assets/icons/person-plus.svg"></button>

          </tr>
            <tbody>
                <ng-container *ngFor="let utilisateurs of utilisateursList; index as i;" >
                     <tr>
                        <ng-container *ngIf="enableEditIndex != i">
                            <td>{{utilisateurs.username}}</td>
                            <td>{{utilisateurs.name}}</td>
                            <td>{{utilisateurs.FirstName}}</td>
                            <td>{{utilisateurs.Password}}</td>
                            
                            <td *ngIf="enableEditIndex != i">
                              <button type="button" style=" height: 50px; width: 50px;" class="btn btn-secondary btn-lg active" (click)="switchEditMode(i)"><img src="assets/icons/pencil-square.svg"></button>
                                <button type="button" style="margin-left: 5% ; height: 50px; width: 50px;" class="btn btn-danger" (click)="remove(i)"><img src="assets/icons/person-x.svg"></button>
                            </td>
                          </ng-container>
                          <ng-container *ngIf="enableEditIndex == i">
                            <td><input [(ngModel)]="utilisateurs.username" /></td>
                            <td><input [(ngModel)]="utilisateurs.name" /></td>
                            <td><input [(ngModel)]="utilisateurs.FirstName" /></td>
                             <td><input [(ngModel)]="utilisateurs.Password" /></td> 
                             <td><button type="button" style="margin-left: 5% ; height: 50px; width: 50px;" class="btn btn-success" (click)="save(i)"><img  style=" padding-left: unset;"src="assets/icons/check2-square.svg"></button></td>
                          </ng-container>
                      </tr>  
                </ng-container>
                
            </tbody>
            
        </table>
  
    </div>
  </div>
