p { 
    font-family: Lato; 
  } 
   
  .container { 
    padding: 1.5rem; 
    margin: 10px auto; 
    border-width: 0.2rem; 
    border: solid cornsilk; 
  } 
   
  input { 
    width: 6.5rem; 
  } 
   
  table { 
    width: 100%; 
  } 
  #InnerDiv{ 
    overflow-y: scroll; 
    width: 100%; 
    height: 100%; 
  } 