<div *ngIf="memo">
  <div>
      <input id="cache1" [(ngModel)]="memo.details" placeholder="details"/>
      <button id="cache2" class="favorite styled"type="button" (click)=deselectmemo2()>Ok</button>
  </div>

</div>