<ul class="memos">
  <li *ngFor="let memo of memos"
    [class.selected]="memo === selectedMemo"
    (click)="onSelect(memo)">
  {{memo.details}}<br>
  </li>
</ul>
<app-memo-detail [memo]="selectedMemo"></app-memo-detail>