 <div id="w">

   <div id="right">
     <p style="margin: 0;">{{meteo}}</p>
     <h1 style="margin: 0;">{{temperature}}°C</h1>
   </div>

   <div id="left">
     <h4 id="locT" style="font-size: 24px;">{{localisation}}</h4>
     <p style="font-size: 12px;">
       <img src="assets/icons/weather/wind.svg" width="12px"> Vent: {{wind}}
       <img src="assets/icons/weather/humidity.svg" style="margin-left: 6px;" width="12px"> Humidité: {{humidity}}
     </p>
   </div>

   <img src={{icon}} width="64px" id="iconW">

 </div>