#right {
    float: left;
    width: fit-content;
    padding-right: 20px;
    border-right: solid;
    border-width: 1px;
    border-color: aliceblue;
}

#left {
    float: left;
    margin: 7px 0 0 20px;
}

#iconW {
    float: right;
    margin-top: 12px;
}